.mar
{
	margin:5%;
}


.am
{
	width: 60px;
}


@media only screen and (max-width: 500px) {
    .extra {
        width: 100% !important;
    }
}

#marketplace-menu {
    background-color: #273238;
}

#marketplace-menu .menu > .item {
    color: white;
}