.mar
{
	margin:5%;
}


.am
{
	width: 60px;
}


@media only screen and (max-width: 500px) {
    .extra {
        width: 100% !important;
    }
}

#marketplace-menu {
    /* 'massive' font size */
    font-size: 1.28571429rem;
    background-color: #273238;
}


.marketplace-header {
    width: 100%;
    /* height: 92px; */
    height: 5em;
}

.marketplace-header #categories-dropdown, .marketplace-header #location-dropdown {
    background-color: transparent;
    border: 2px solid white;
    min-width: 20vw !important;
    color: rgba(255, 255, 255, 0.87);
    font-size: 1.28571429rem;
}

.marketplace-header #location-dropdown {
    min-width: 20px !important;
}

.marketplace-header #categories-dropdown>.text:not(.default), .marketplace-header #location-dropdown>.text:not(.default) {
    color: rgba(255, 255, 255, 0.87);
}

.marketplace-header #search {
    width: 25vw;
    height: 40px;
    font-size: 14px;
    border-radius: 2.5rem;
}

@media only screen and (min-width: 767px) {
    .marketplace-header #search {
        width:40vw;
    }
}

#marketplace-menu .item {
    color: white;
}

#marketplace-menu .item:hover {
    background-color: transparent !important;
}


@media only screen and (max-width: 767px) {
    #marketplace-menu {
        font-size: 1rem;
    }

    .marketplace-header #categories-dropdown, .marketplace-header #location-dropdown {
        font-size: 1rem;
    }

    .marketplace-header {
        height: 100%;
    }
    .marketplace-header #search {
        width: 20vw;
    }
}

@media only screen and (max-width: 992px) {
    .marketplace-header #categories-dropdown {
        min-width: 10vw !important;
    }
}

.mhome {
    width: 100%;
}

.mhome .main {
    padding-top: 25px;
    margin-top: 15px;
    padding-bottom: 50px;
    min-height: 80vh;
}

.mhome .light-bg {
    background-color: #f4f7f9;
}

.mhome .sidebar {
    max-width: 276px !important;
    margin-left: 50px;
}

#brand-tabs {
    background-color: #f4f7f9;
    box-shadow: none;
    border: 0;
    width: 30%;
    margin: 2em auto !important;
}

#brand-tabs .item {
    background-color: white;
    border: solid 1.25px #273238;
}

#brand-tabs a:last-child {
    border-radius: 0 36px 36px 0;
}

#brand-tabs .item.active {
    background-color: #273238;
    color: white;
}


#brand-tabs .item:first-child {
    border-radius: 36px 0 0 36px;
}

@media only screen and (max-width: 767px) {
    .main.container {
        margin-left: 0!important;
        margin-right: 0!important;
        margin-bottom: 0!important;
    }
}

.mhome .container {
    padding-left: 8.5%;
    padding-right: 8.5%;
}

.mt-30 {
    margin-top: 30px;
}

.filter .header {
    font-size: 20px;
    font-weight: bold;
    color: #484d55; 
}

@media only screen and (max-width: 767px) {
    .mhome .filter {
        display: none;
    }

    .ui.container {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    .mhome .card .header {
        font-size: 1em !important;
    }
}

@media only screen and (max-width: 992px) {
    .mhome .container {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.np-r {
    padding-right: 0px !important;
}


/* brand page css */

.brand-bg-image {
    height: 50%;
    background-size: cover;
}

.brand-image-and-name {
    width: 600px;
    height: 100%;
    padding: 20px;
    margin:auto;

    /* text-align: center; */
    /* vertical-align: middle; */
}

.brand-image-and-name h1 {
    color: white;
    margin-top: 10px;
    font-weight:normal;
}


.brand-image-and-name .brand-logo {
    width: 250px;
}