#auth {
  height: 100vh;
  background: linear-gradient(180deg, #273238 70%, #FFF 30%);
}

#auth .auth-form {
  padding-top: 5vh;
}

#auth .auth-form .auth-form-error {
  color: red;
}

#auth .greentap {
  font-size: 30px;
  color: white;
}

#auth .auth-form .column {
  max-width: 550px;
}

#auth .auth-form label {
  font-size: 14px;
  text-align: left;
}

/* zip code field loses its field margin-bottom since its the last field in the div */
#auth .ui.form .field:last-child, 
#auth .ui.form .fields:last-child .field {
  margin-bottom: 1em;
}

#auth #login {
  align-self: 'inherit';
}