body * {
  font-family: 'Avenir'; 
}

/* Elements not covered by above rule */
.header, .ui.accordion .title:not(.ui) {
  font-family: 'Avenir' !important;
}

p.copyright > span {
  color: #777;
}

.form-red-error {
  color: red
}