
body {
  font-family: 'Catamaran', sans-serif;

  /*background: #EFEFEF;*/
  padding-top: 50px;
}

.main {
  padding: 25px 25px 10px 25px;;
}

.sidebar {
  padding: 10px 20px 20px 20px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #555;
  background-color: #E7E7E7;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

p.copyright > span {
  color: #777;
}

.auth-form-error {
  color: red;
}

.form-space {
  margin-bottom: 20px;
}

.container.cont-space {
  margin-top: 20px;
}

.cont-space.center {
  width: 40%;
  margin: auto;
  text-align: center;
}

input.simple-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  -webkit-box-shadow: none;
  padding-left: 5px;
}

.last-link {
  padding-top:0px;
  padding-bottom:15px;
}