/* landing page has its own header, margin-top counterracts base.css margin rule for header*/
body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.618;
  font-size: 18px;
}

.primary-transparent {
  background: rgba(12,131,70, .9);
}

input.form-control {
  margin-right: 15px;
}

.carousel-caption {
  padding-top: 20%;
  position: relative;
  right:0;
  left:0;
}

.navbar-form {
  padding:0;
  padding-top:40px;
}

.overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  top: 0px;
  left: 0px;
  background-color: rgba(77, 94, 74, 0.7);
  min-height: 92vh;
}

.jumbotron.hero-wrapper {
  padding:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  min-height: 92vh;
  color:white;
}

#hero-bg {
  background: url(../../public/images/hero.png) no-repeat center;   
}

#contact-bg {
  background: url(../../public/images/contact.jpg) no-repeat center;   
}

#contact-bg .overlay {
  min-height: 100vh;
}

.jumbotron-retailers-brands {
  padding: 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  height: 100%;
  width: 100%;
  min-height: 65vh;
  text-align: left;
}

.jumbotron-retailers-brands .btn {
  margin: 40 40 40 0;
}

.jumbotron-retailers-brands .row {
  padding: 5% 0;
}

.jumbotron-retailers-brands.dark-bg {
  background-color: #F6F6F6;
}

.jumbotron-retailers-brands .img-responsive {
  margin: auto;
}

label.control-label {
  padding-bottom:5px;
}

select.form-control, .inline-label {
  border-radius: 0;
  padding-right: 5px;
}

input, .btn, .form-control, .navbar, button.navbar-toggle.collapsed  {
  border-radius: 0;
}

.border-right {
  border-right: 1px solid #eee;
}

.panel-btn {
  margin-top:20px;
  margin-left: 50%;
}

#retailers {
  align-content: middle;
  width: 100%;
}

.panel {
  border-radius: 0;
}

ul.feature-list{
  padding:0;
}
ul.feature-list > li {
  padding:20px;
  list-style: none;
}

select {
  margin-right: 20px;
  padding-bottom: 20px;
}

.landing {
  margin-top: -50px;
}

.landing .btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

/* .container {
  max-width: 1170px;
} */

.dark-bg {
  background-color: #F6F6F6;
}

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.jumbotron h1 {
  font-size: 60px;
  font-weight: bold;
}

.jumbotron h4 {
  margin-top: 5%;
  font-weight: 100;
}

.jumbotron a.btn {
  margin: 5%;
}

#contact-form {
  min-height:100%;
}

#contact-form input {
  margin-bottom: 5%;
}

#contact-form h2 {
  font-size: 32px;
}

#contact-form h3 {
  font-size: 20px;
}

#contact-form .carousel-caption {
  padding-top: 10%;
}

#contact-form .form-group {
  padding: 0% 20% 0% 20%;
}

#contact-form .form-control {
  border-radius: 4px;
}

#contact-form .center-btn {
  text-align: center;
  padding: 3%;
}

#contact-form .btn {
  position: relative;
  right: 0;
  left: 0;
}

/*use to position content within jumbotron to left*/
.jumbotron-content {
  min-height: 200px;
  max-height: 500px;
}

#subtitle {
  text-align:center;
}


/* this height should complement jumbotron height */
.navbar-default {
  min-height: 8vh;
}
/* Navbar bootstrap crap */
.navbar-default {
  background-color: #5b6e57;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  font-size: 36px;
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #555555;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #555555;
}
.navbar-default .navbar-toggle {
  border-color: #555555;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #555555;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #555555;
  }
}

/* Making it larger */
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}