/* landing page has its own header, margin-top counterracts base.css margin rule for header*/
body {
  line-height: 1.618;
  font-size: 18px;
}

.primary-transparent {
  background: rgba(12,131,70, .9);
}

input.form-control {
  margin-right: 15px;
  margin-bottom: 15px;
}

.carousel-caption {
  padding-top: 20%;
  position: relative;
  right:0;
  left:0;
}

.navbar-form {
  padding:0;
  padding-top:40px;
}

.overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  top: 0px;
  left: 0px;
  background-color: rgba(77, 94, 74, 0.7);
  min-height: 92vh;
}

.jumbotron.hero-wrapper {
  padding:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  min-height: 92vh;
  color:white;
}

#hero-bg {
  background: url(../../public/images/hero.png) no-repeat center;
  background-size: cover;
}

#contact-bg {
  background: url(../../public/images/contact.jpg) no-repeat center;
  background-size: cover;
}

#about-bg {
  background: url(../../public/images/about_hero.jpg) no-repeat center;
  background-size: cover;
}

#contact-bg .overlay {
  min-height: 95vh;
}

.jumbotron-retailers-brands {
  padding: 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
  height: 100%;
  width: 100%;
  min-height: 65vh;
  text-align: left;
}

.jumbotron-retailers-brands .btn {
  margin: 40 40 40 0;
}

.jumbotron-retailers-brands .row {
  padding: 2% 0;
}

.jumbotron-retailers-brands h2 {
  font-size: 38px;
  margin-top: 0px;
}

.jumbotron-retailers-brands.dark-bg {
  background-color: #F6F6F6;
}

.jumbotron-retailers-brands.combined .img-responsive {
  margin: auto;
  width: 25vw;
  min-width: 200px;
  height: 25vh;
  margin-bottom: 15px;
}

.jumbotron-retailers-brands.combined {
  text-align: center;
}

@media (min-width: 992px) {
  .jumbotron-retailers-brands.combined .left {
    padding-left: 5%;
  }

  .jumbotron-retailers-brands.combined .right {
    padding-right: 5%;
  }
}

label.control-label {
  padding-bottom:5px;
}

select.form-control {
  border-radius: 0;
  padding-right: 5px;
  margin-bottom: 15px;
}

input, .btn, .form-control, .navbar, button.navbar-toggle.collapsed  {
  border-radius: 0;
}

.border-right {
  border-right: 1px solid #eee;
}

.panel-btn {
  margin-top:20px;
  margin-left: 50%;
}

#retailers {
  align-content: middle;
  width: 100%;
}

.panel {
  border-radius: 0;
}

ul.feature-list{
  padding:0;
}
ul.feature-list > li {
  padding:20px;
  list-style: none;
}

select {
  margin-right: 20px;
  padding-bottom: 20px;
}

.landing {
  margin-top: -50px;
}

.landing .btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

/* .container {
  max-width: 1170px;
} */

.dark-bg {
  background-color: #F6F6F6;
}

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.jumbotron h1 {
  font-size: 74px;
  font-weight: bold;
}

.jumbotron h4 {
  margin-top: 3%;
  font-weight: 100;
  font-size: 21px;
}

.jumbotron a.btn {
  margin: 5%;
}

#contact {
  min-height: 100%;
}

#contact h2 {
  font-size: 32px;
}

#contact h3 {
  font-size: 20px;
}

#contact .carousel-caption {
  padding-top: 10%;
}

#contact .form-group {
  padding: 0% 20% 0% 20%;
}

#contact .form-control {
  border-radius: 4px;
}

#contact .center-btn {
  text-align: center;
  padding: 3%;
}

#contact .btn {
  position: relative;
  right: 0;
  left: 0;
}

/*use to position content within jumbotron to left*/
.jumbotron-content {
  min-height: 200px;
  max-height: 500px;
}

#subtitle {
  text-align:center;
}

/* About page layout */

.mission {
  margin-top: 30px;
  margin-left: 30px;
  background-color: rgba(91, 110, 87, 0.7);
  padding: 15px 15px 10px 15px;
}

.mission h1 {
  margin: 0;
  font-size: 60px;
}

.mission p {
  margin-bottom: 0;
}

.mission a {
  color: white;
  text-decoration: underline white;
}

.team {
  margin-top: 20px;
}

.team h1 {
  text-align: center;
  margin-bottom: 20px;
}